{% extends "base.html" %}
{% block page_content %}
    <h1 style="margin-top: 2em;"></h1>
    <div class="col-sm-offset-1 col-sm-10">
        {% if employee %}
            <form role="form" method="post" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-3">员工姓名</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" readonly value="{{ employee.name }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">入职时间</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" readonly value="{{ employee.join_time }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">员工编码</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" value="{{ employee.code }}" name="code" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">员工电话</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" value="{{ employee.phone }}" name="phone" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">员工状态</label>
                <div class="col-sm-6">
                    <select name="status" class="form-control" >
                        <option value="1" {% if employee.status is equalto 1 %}selected{% endif %}>正常</option>
                        <option value="2" {% if employee.status is not equalto 1 %}selected{% endif %}>禁用</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">备注</label>
                <div class="col-sm-6">
                    <textarea class="form-control" type="text" multiple value="{{ employee.others }}" name="others"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-3 col-sm-2">
                    <a href="{{ url_for(".employee_manage") }}" class="btn btn-default">返回</a>
                </div>
                <div class="col-sm-offset-2 col-sm-2">
                    <input type="submit" value="提交" class="form-control">
                </div>
            </div>
        </form>
        {% else %}
            <h3 style="color:red;">未找到员工信息，请重试！</h3>
        {% endif %}
    </div>
{% endblock %}